/*Estilos del footer*/

footer {
  font-family: $global-site-font-family;
  padding: $global-padding;
  background-image: $main-background-transition;
}

.footer__buttons {

    margin-top: 5px;
}

.footer__images {

  width: 2rem;
  height: auto;
}
  
.footer__social {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
      li {
        padding: $global-padding;
        margin: 5px 5px 5px 10px;
        }
}
  
/* ex #suscription */
.footer__subscription {
    margin-left: $global-left-margin;
    text-align: center;
}

/* ex #redes */
.footer__redes {
    margin-left: $global-left-margin;
  }