//* Estilos de main y section tags//

section {
    padding: 25px;
}

.main__landingVideos {
    border-radius: 5%;
    width: 50%;
    height: auto;
    margin-left: 25%;
}

.main__sectionTransition {
    background-image: $main-background-transition;
}

.main__sectionBackground {
    @include sectionBackground($section-background, $section-repeat, $section-position);
}