//* Estilos de main y section tags//

section {
    padding: 25px;
}

.main__landingVideos {
    border-radius: 5%;
    width: 50%;
    height: auto;
    margin-left: 25%;
}

#servicios, #contacto {
    background-image: linear-gradient(to left, rgb(122, 122, 122), rgb(245, 245, 245));
}

#precios, #quienes-somos {
    background-image: url("../media/section-background.svg");
    background-repeat: no-repeat;
    background-position: 0 100%;
}