/* Global Paddings y Margins */
$global-padding: 5px;
$global-left-margin: 15px;

/* Global Fonts Styles*/
$global-text-weight: 600;
$global-site-font-family: "Ubuntu";
$global-text-font-family: "Poppins";

/* Global Backgrounds */
$global-site-bg-color: aliceblue;
$main-background-transition: linear-gradient(to left, rgb(122, 122, 122), rgb(245, 245, 245));
$section-background: url("../media/section-background.svg");
$section-repeat: no-repeat;
$section-position: 0 100%;

/* General */
$global-nav-hover: rgb(0, 153, 255);
$global-button-hover: rgb(83, 88, 92);
$global-bg-hover: rgb(144, 214, 162);

* {
  margin: 0;
  padding: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
  padding-inline-start: 0em;
}

@mixin siteFontSetup($global-site-font-family, $global-text-weight) {
  font-weight: $global-text-weight;
  font-family: $global-site-font-family;

}

@mixin textFontSetup($global-text-font-family, $global-text-weight) {
  font-weight: $global-text-weight;
  font-family: $global-text-font-family;

}

@mixin sectionBackground($section-background, $section-repeat, $section-position) {
  background-image: $section-background;
  background-repeat: $section-repeat;
  background-position: $section-position
}

@import "navbar";
@import "header";
@import "footer";
@import "common";
@import "main";
@import "precios";
@import "servicios";
@import "contacto";

/* Media Queries */

/* Media query para viewports mobile */ 
@media only screen and (max-width: 767px) {

  h3 {
    padding: 2px;
  }

  textarea {
    height: 10em;
    width: 23em;
  }

  .header__logo {
    width: 100%;
    height: auto;
  }

  .header__menu {
    display: none;
  }

  .prices {
      grid-template-areas: 
      "plan-basico"
      "carrito-basico"
      "plan-pro"
      "carrito-pro" 
      "plan-premium"
      "carrito-premium";
      grid-template-rows: repeat(6, 0.3fr);
      grid-gap: 1px;
  }

  .services__images {
    width: 20rem;
  }

  /*Estilos del carousel*/
  
  #servicesCarousel {
      height: 180px;
      width: auto;
      overflow: hidden;
    } 
}

/* Media query para viewports tablets */ 
@media only screen and (min-width: 768px) and (max-width: 1023px){

  h3 {
    padding: $global-padding;
  }

  textarea {
    height: 10em;
    width: 50em;
  }

  .header__menu {
     display: none;
   }

  .prices {
    grid-template-areas: 
    "plan-basico plan-pro plan-premium"
    "carrito-basico carrito-pro carrito-premium";
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
  }

  .services__images {
    width: 40rem;
  }

  /*Estilos del carousel*/

   #servicesCarousel {
    height: 300px;
    width: auto;
    overflow: hidden;
    
  }
}

/* Media query para viewports desktop */ 
@media only screen and (min-width: 1024px) {

  h3 {
    padding: $global-padding;
  }

  textarea {
    height: 10em;
    width: 50em;
  }

  .header__menu {
    li {
      margin-left: 12%;
      padding: $global-padding;
    }
  }

  .menu-wrap {
    display: none;
  }
  
  .prices {
    grid-template-areas: 
    "plan-basico plan-pro plan-premium"
    "carrito-basico carrito-pro carrito-premium";
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .services__images {
    width: 58rem;
  }

  #mobile-nav {
    display: none;
  }

  /*Estilos del carousel*/

  #servicesCarousel {
    height: 600px;
    width: auto;
    overflow: hidden;
  
  }
}